<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Create Article</h1>
<a href="{% url 'home' %}">На главную</a>
<form action="{% url 'article_create' %}" method="post">
    {% csrf_token %}

    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>

    <label>Text:</label><br/>
    <textarea name="text"></textarea><br/>

    <label>Author:</label><br/>
    <input type="text" name="author"/><br/>
    <br/>

    <label form="id-status">Status:</label><br/>
    <select name="status" id="id-status">
    {# Вариант №1: обратиться по индексам к каждой паре#}
{#        {% for choice in status_choices %}#}
{#            <option value=""></option>#}
{#        {% endfor %}#}
    {# Вариант №2: распаковать #}
        {% for value, choice in status_choices %}
            <option value="{{ value }}">{{ choice }}</option>
        {% endfor %}
    </select><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>

</body>
</html>